#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f > #backgroundBox {
  position: absolute;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 {
  position: absolute;
  width: 307.9999999999993px;
  min-height: 49.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #3540B7;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_8 {
  position: absolute;
  width: 115.7734375px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_8 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_9 span {
  color: #B9BDC5;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #B9BDC5;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_13 {
  position: absolute;
  width: 123.4912109375px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_13 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_7 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 14.25pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 {
  position: absolute;
  width: 135.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3544B7;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FEE94E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FEE94E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FEE94E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FEE94E;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 8.25pt;
  letter-spacing: 2.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 8.25pt;
  letter-spacing: 2.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_18 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 span#rtr-s-Paragraph_19_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_19 span#rtr-s-Paragraph_19_2 {
  color: #73B07F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_20 span {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #26315F;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_2 {
  position: absolute;
  width: 11.671875px;
  height: 16.600000381469727px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_3 {
  position: absolute;
  width: 5.8359375px;
  height: 5.8359375px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_5 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_6 {
  position: absolute;
  width: 2.693145751953125px;
  height: 6.375770568847656px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Rect_6 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Rect_7 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_13 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Rect_8 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_14 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Path_17 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Image_1 {
  position: absolute;
  width: 375.0000000000007px;
  height: 330.1254901960787px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 21px rgba(0,0,0,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 30.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Image_4 {
  position: absolute;
  width: 178.9999999999997px;
  height: 136.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f #s-Image_2 {
  position: absolute;
  width: 153.0000000000005px;
  height: 135.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-794e2ce8-cb61-483d-a6ac-7346f6969a4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}