#s-9731833e-406a-49e8-b9b2-b4d4344ae441 > #backgroundBox {
  position: absolute;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 {
  position: absolute;
  width: 375.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(9.184850993605148E-16px -5.0px 13px rgba(192,192,192,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_14 {
  position: absolute;
  width: 22.191192626953125px;
  height: 22.078994750976562px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_6 {
  position: absolute;
  width: 24.69999885559082px;
  height: 21.83045768737793px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_3 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_4 {
  position: absolute;
  width: 4.4110260009765625px;
  height: 3.25775146484375px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_5 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.0276031494140625px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_7 {
  position: absolute;
  width: 4.413238525390625px;
  height: 3.262176513671875px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_18 {
  position: absolute;
  width: 5.09368896484375px;
  height: 1.027587890625px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_19 {
  position: absolute;
  width: 6.15673828125px;
  height: 1.027587890625px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_20 {
  position: absolute;
  width: 18.55877685546875px;
  height: 26.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_1 {
  position: absolute;
  width: 24.670612335205078px;
  height: 9.844337463378906px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_2 {
  position: absolute;
  width: 19.23041534423828px;
  height: 12.12615966796875px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 input::-webkit-input-placeholder {
  color: #98A2CC;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 input::-moz-placeholder {
  color: #98A2CC;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 input:-moz-placeholder {
  color: #98A2CC;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 input:-ms-input-placeholder {
  color: #98A2CC;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 {
  position: absolute;
  width: 330.9999999999998px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 input {
  color: #26315F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D8DEEC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D8DEEC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D8DEEC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D8DEEC;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_44 {
  position: absolute;
  width: 15.713775634765625px;
  height: 16.2760009765625px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_15 {
  position: absolute;
  width: 19.467041015625px;
  height: 4.785499572753906px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_16 {
  position: absolute;
  width: 19.467041015625px;
  height: 4.785491943359375px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_17 {
  position: absolute;
  width: 19.467041015625px;
  height: 4.785491943359375px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_15 span {
  color: #250A82;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #250A82;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 20.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_50 {
  position: absolute;
  width: 28.466670989990234px;
  height: 2.88848876953125px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_51 {
  position: absolute;
  width: 28.466670989990234px;
  height: 2.88848876953125px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_52 {
  position: absolute;
  width: 14.795083999633789px;
  height: 2.88848876953125px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rect_10 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rect_11 {
  position: absolute;
  width: 23.0px;
  height: 12.333332061767578px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_46 {
  position: absolute;
  width: 1.328033447265625px;
  height: 4.0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Rect_12 {
  position: absolute;
  width: 18.0px;
  height: 7.333332061767578px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_47 {
  position: absolute;
  width: 15.27239990234375px;
  height: 10.965570449829102px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Path_53 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 #s-Image_1 {
  position: absolute;
  width: 538.9999999999999px;
  height: 517.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9731833e-406a-49e8-b9b2-b4d4344ae441 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}